@model Meme.Domain.Models.MemePageModel

<div class="row">
    <div class="col-6">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        <a asp-action="Index">Back to List</a>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>@Model.Name - meme page details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PathUrl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PathUrl)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContractAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContractAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BuyUrl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BuyUrl)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
        <hr />
    </div>
</div>
<div></div>
<div class="row">
    <div class="col-2">
        <a href="/memepages/@Model.Id/homesection">Update Home section</a>
    </div>
    <div class="col-2">
        <a href="/memepages/@Model.Id/aboutsection">Update About section</a>
    </div>
    <div class="col-2">
        <a href="/memepages/@Model.Id/aboutsection">Update About section</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-2">
    </div>
    <div class="col-2">
        <a id="liveBtn" href="/memepages/@Model.Id/status" class="btn btn-success">Make Page Live</a>
    </div>
    <div class="col-2">
    </div>
    <div class="col-2">
    </div>
    <div class="col-2">
        <a id="deletePageBtn" href="/memepages/@Model.Id/delete" class="btn btn-danger">Delete Page Permanently</a>
    </div>
</div>

<script type="text/javascript" defer>

    $('#liveBtn').click(function (evt) {
        evt.preventDefault();

        $.ajax({
            url: `${this.href}/active`,
            cache: false,
            type: "PATCH",
            success: function () {
                alert("Successful - Page is now live")
            }
        });
    });

</script>